.user {
 width: 800px;
 display: flex;
 justify-content: space-between;
 gap: 30px;
 margin-bottom: 10px;
}

.ava-box {
 width: 115px;
 padding: 5px;
}

.user-img {
 width: 50px;
}

.user-info {
 width: 700px;
 display: flex;
 justify-content: space-between;
 border: 1px solid #efefef;
 border-radius: 15px;
 padding: 10px;

}

.selected-page {
 font-weight: bold;
 font-style: 1.01rem;
}