.sidebar {
 grid-area: sidebar;
 padding: 10px;
 background-color: #34465D;
 color: #fff;
 text-align: left;
}

.sidebar__link{
 color: #fff;
}

.sidebar__link.active {
 color: #ffa300;
}

.sidebar__link:hover
{
 color: #ffa300;
}