#root {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #B0BEC5; */
}
img {
  width: 100%;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas: 
    "header header"
    "sidebar main";
}

.main {
  grid-area: main;
}

ul {
  list-style: none;
  padding: 0;
}
